<h1>Fitness Class Calendar</h1>

<% days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]%>

<table>
  <thead>
    <tr>
      <% days.each do |day| %> 
        <th><%= day %></th>
      <% end %> 
    </tr>
  </thead> 

  <tbody>
      <% days.each do |day| %>
    <td>
        <% @fitness_classes.select {|fc| fc.day_of_week.downcase == day.downcase }.sort_by(&:start_time).each do |fc| %>
            <% if fc.end_time.hour - fc.start_time.hour == 1 %> 
              <div class="fitness-class-1">
                <div class="text-content">
                  <p><%= fc.start_time.strftime("%I:%M:%p") %> </p>
                  <h5><%= fc.name %></h5>
                  <p><%= fc.end_time.strftime("%I:%M:%p") %> </p>
                </div>
              </div>
            <% elsif fc.end_time.hour - fc.start_time.hour == 2 %>
              <div class="fitness-class-2">
              <p><%= fc.start_time.strftime("%I:%M:%p") %> </p>
              <h5><%= fc.name %></h5>
              <p><%= fc.end_time.strftime("%I:%M:%p") %> </p>
            </div>
            <% elsif fc.end_time.hour - fc.start_time.hour == 3 %>
            <div class="fitness-class-3">
            <p><%= fc.start_time.strftime("%I:%M:%p") %> </p>
            <h5><%= fc.name %></h5>
            <p><%= fc.end_time.strftime("%I:%M:%p") %> </p>
          </div>
            <% end %>
        <% end %>
    </td>
      <% end %> 
  </tbody> 
</table>